<!DOCTYPE html>
<html>
	<header>
		<h1>All Contacts</h1>
	</header>
	<body>
		<table class="contactstable">
				<tr class="positionfix">
					<td>First Name</td>
					<td>Last Name</td>
					<td>Email</td>
					<td>Note</td>
					<td>Contact ID</td>
					<td>
				</tr>
		</table>
			<% $rolodex.contacts.each do |contact| %>
		<table class="contactstable">
				<tr class="positionfix">
					<td><%= contact.first_name %></td> 
					<td><%= contact.last_name %></td> 
					<td><%= contact.email %></td> 
					<td><%= contact.note %></td>
					<td><%= contact.id %></td>
					<td class="button"><a href="/contacts/<%=contact.id%>">View contact</a></td>
				</tr>
		</table>
		<% end %>
		</ul>
	</body>
</html>